<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<section>
  <h2 class="ion-text-center">Bienvenido!</h2>
  <h4 *ngIf="currentUser !== null" style="margin-left: 20px;">Usuario: {{currentUser}}</h4>
</section>
<section>
  <form class="ion-margin-top ion-padding-top" [formGroup]="welcomeForm" (ngSubmit)="onUserInfo()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="text-center">
            <h3 class="ion-text-center"><strong>Informacion adicional</strong></h3>
          </div>
          <div>
            <ion-item lines="none">
              <ion-input label="Nombre" formControlName="nombre" placeholder="Ingrese su nombre" type="text" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-input label="Apellido" formControlName="apellido" placeholder="Ingrese su apellido" type="text" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-select label="Nivel de educacion" placeholder="Ingrese su nivel de educacion" formControlName="nivelEd">
                <ion-select-option value="postgrado">PostGrado</ion-select-option>
                <ion-select-option value="pregrado">PreGrado</ion-select-option>
                <ion-select-option value="universitaria">Universitaria</ion-select-option>
                <ion-select-option value="media">Media</ion-select-option>
                <ion-select-option value="basica">Basica</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Fecha de nacimiento</ion-label>
              <!-- <input label="Fecha de nacimiento" formControlName="fecNac" placeholder="Ingrese su nivel de educacion" type="date"> -->
              <mat-form-field>
                <mat-label>Seleccionar fecha</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ion-item>
          </div>
          <div class="ion-margin-top ion-padding-top">
              <ion-button type="reset" value="Borrar" class="" color="secondary" size="" expand="block">Limpiar</ion-button>
              <ion-button type="submit" class="" color="secondary" size="" expand="block">Mostrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</section>
</ion-content>
